.current{
  font-weight: bold;
  color: #151515;
}
.nav-links:hover{
  cursor: pointer;
}
a{
  text-decoration: none !important;
}
.rfces{
  width: fit-content;
  background-color: rgb(243, 195, 74);
  border: none;
  border-radius: .5rem;
  padding: none !important;
  text-decoration: none !important;
}
.display-none{
  display: none;
}
.display-block{
  display: block;
}
.white{
  color: var(--accent-color) !important;
}
.qushb{
  height: 9rem !important;
}
